<head th:fragment="myheader">
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link th:href="@{{path}/static/css/plugins/select2/select2.min.css(path=${contextPath})}" rel="stylesheet" />
    <!--<link th:href="@{{path}/static/css/bootstrap.min.css(path=${contextPath})}" rel="stylesheet" />-->
    <link th:href="@{{path}/static/css/bootstrap.min14ed.css?v=3.3.6(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/font-awesome.min93e3.css?v=4.4.0(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/plugins/jqgrid/ui.jqgridffe4.css?0820(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/plugins/bootstrap-table/bootstrap-table.min.css(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/plugins/sweetalert/sweetalert.css(path=${contextPath})}" rel="stylesheet">
    <link th:href="@{{path}/static/css/plugins/steps/jquery.steps.css(path=${contextPath})}" rel="stylesheet">
    <link th:href="@{{path}/static/css/style.min862f.css?v=4.1.0(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/plugins/chosen/chosen.css(path=${contextPath})}" rel="stylesheet" />
    <link th:href="@{{path}/static/css/bootstrap-switch.min.css(path=${contextPath})}" rel="stylesheet" />


</head>
