<!DOCTYPE html >
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>基础数据智能管理系统-经营者管理</title>

<!--<link rel="shortcut icon" href="favicon.ico">-->
  <div th:include="/common/header :: myheader"></div>
  <div th:include="/common/footer :: myfooter"></div>
  <script th:src="@{{path}/static/js/idc/idcInfo.js(path=${contextPath})}"></script>
  <script th:src="@{{path}/static/js/common/table_hover.js(path=${contextPath})}"></script>

</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-sm-12">
      <!-- Example Toolbar -->
      <div class="example-wrap text-right">
        <div class="example" >
          <div class="hidden-xs" id="commonButton" role="group">
            <button th:if="${session.ROLE_IDC_ADD}==1" type="button" class="btn btn-outline btn-info m-l-xs" onclick="addFun()"> <i class="fa fa-plus" aria-hidden="true"></i> 新增</button>
            <button th:if="${session.ROLE_IDC_IMPORT}==1" type="button" class="btn btn-outline btn-info uploadFile " onclick="impFun()"> <i class="fa fa-upload" aria-hidden="true"></i> 导入</button>
            <button th:if="${session.ROLE_IDC_EXPORT}==1" type="button" class="btn btn-outline btn-info" onclick="exportExcel()"> <i class="fa fa-download" aria-hidden="true"></i> 导出</button>
          </div>
          <input th:value="${session.ROLE_IDC_UPDATE}" type="hidden" id="r1">
          <input th:value="${session.ROLE_IDC_DELETE}" type="hidden" id="r2">
          <input th:value="${session.ROLE_IDC_PREVALID}" type="hidden" id="r3">
          <input th:value="${session.ROLE_IDC_CASCADEVALID}" type="hidden" id="r4">
          <input th:value="${session.ROLE_IDC_REVOKE}" type="hidden" id="r5">


          <table th:if="${session.ROLE_IDC_QUERY}" id="idcinfotable" data-mobile-responsive="true" class="text-left">

          </table>

        </div>
      </div>
      <!-- End Example Toolbar -->
    </div>
  </div>

</div>



<!--新增-->
<div class="modal inmodal fade modaladd" id="myModaladd" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="wrapper wrapper-content hper100">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <form id="addForm">
          <div class="ibox-content no-borders">
            <label>
              <h4>新增信息</h4>
            </label>
            <div class="ibox border m-b-sm">
              <div class="ibox-content">

                <div class="form-horizontal">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>许可证号</label>
                        <div class="col-md-3">
                          <input type="text" name="idcId" class="form-control" required>
                        </div>
                        <label id="idcId_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>经营者名称</label>
                        <div class="col-md-3">
                          <input type="text" name="idcName" class="form-control" required>
                        </div>
                        <label id="idcName_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>企业法人</label>
                        <div class="col-md-3">
                          <input type="text" name="corporater" class="form-control" required>
                        </div>
                        <label id="corporater_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>经营者通信地址</label>
                        <div class="col-md-3">
                          <input type="text" name="idcAddress" class="form-control" required>
                        </div>
                        <label id="idcAddress_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>通信地址邮编</label>
                        <div class="col-md-3">
                          <input type="isZipCode" name="idcZipCode" class="form-control" required>
                        </div>
                        <label id="idcZipCode_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人姓名</label>
                        <div class="col-md-3">
                          <input type="text" name="officerName" class="form-control" required>
                        </div>
                        <label id="officerName_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人证件类型</label>
                        <div class="col-md-3">
                          <select class="form-control" name="officerIdType" required>
                            <option value>请选择</option>
                            <option value="2">身份证</option>
                            <option value="7">护照</option>
                            <option value="8">军官证</option>
                            <option value="9">台胞证</option>
                          </select>
                        </div>
                        <label id="officerIdType_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人证件号码</label>
                        <div class="col-md-3">
                          <input type="text" name="officerId" class="form-control" required>
                        </div>
                        <label id="officerId_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人移动电话</label>
                        <div class="col-md-3">
                          <input type="isMobile" name="officerMobile" class="form-control" required>
                        </div>
                        <label id="officerMobile_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人固定电话</label>
                        <div class="col-md-3">
                          <input type="isPhone" name="officerTelephone" class="form-control" required>
                        </div>
                        <label id="officerTelephone_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人Email</label>
                        <div class="col-md-3">
                          <input type="email" name="officerEmail" class="form-control" required>
                        </div>
                        <label id="officerEmail_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人姓名</label>
                        <div class="col-md-3">
                          <input type="text" name="ecName" class="form-control" required>
                        </div>
                        <label id="ecName_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人证件类型</label>
                        <div class="col-md-3">
                          <select class="form-control" name="ecIdType" required>
                            <option value>请选择</option>
                            <option value="2">身份证</option>
                            <option value="7">护照</option>
                            <option value="8">军官证</option>
                            <option value="9">台胞证</option>
                          </select>
                        </div>
                        <label id="ecIdType_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人证件号码</label>
                        <div class="col-md-3">
                          <input type="text" name="ecId" class="form-control" required>
                        </div>
                        <label id="ecId_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人移动电话</label>
                        <div class="col-md-3">
                          <input type="isMobile" name="ecMobile" class="form-control" required>
                        </div>
                        <label id="ecMobile_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人固定电话</label>
                        <div class="col-md-3">
                          <input type="isPhone" name="ecTelephone" class="form-control" required>
                        </div>
                        <label id="ecTelephone_error" class="control-label p-n error"></label>
                      </div>
                      <div class="hr-line-dashed"></div>
                      <div class="form-group">
                        <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人Email</label>
                        <div class="col-md-3">
                          <input type="email" name="ecEmail" class="form-control" required>
                        </div>
                        <label id="ecEmail_error" class="control-label p-n error"></label>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group m-t clear">
              <div class="col-md-offset-2 col-md-3">
                <button id="btnAdd" type="button" class="btn btn-primary save">预审</button>
                <a id="btnCancel" class="m-l-sm" data-dismiss="modal">取消</a> </div>
            </div>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


<!--修改-->
<div class="modal inmodal fade modaladd" id="myModaledit" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="wrapper wrapper-content hper100">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <form id="editForm">
            <div class="ibox-content no-borders">
              <label>
                <h4>修改信息</h4>
              </label>
              <div class="ibox border m-b-sm">
                <div class="ibox-content">

                  <div class="form-horizontal">
                    <div class="row">
                      <div class="col-sm-12">
                        <input type="hidden" name="jyzId">
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>许可证号</label>
                          <div class="col-md-3">
                            <input type="text" name="idcId" class="form-control" required>
                          </div>
                          <label id="idcId_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>经营者名称</label>
                          <div class="col-md-3">
                            <input type="text" name="idcName" class="form-control" required>
                          </div>
                          <label id="idcName_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>企业法人</label>
                          <div class="col-md-3">
                            <input type="text" name="corporater" class="form-control" required>
                          </div>
                          <label id="corporater_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>经营者通信地址</label>
                          <div class="col-md-3">
                            <input type="text" name="idcAddress" class="form-control" required>
                          </div>
                          <label id="idcAddress_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>通信地址邮编</label>
                          <div class="col-md-3">
                            <input type="isZipCode" name="idcZipCode" class="form-control" required>
                          </div>
                          <label id="idcZipCode_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人姓名</label>
                          <div class="col-md-3">
                            <input type="text" name="officerName" class="form-control" required>
                          </div>
                          <label id="officerName_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人证件类型</label>
                          <div class="col-md-3">
                            <select class="form-control" name="officerIdType" required>
                              <option value>请选择</option>
                              <option value="2">身份证</option>
                              <option value="7">护照</option>
                              <option value="8">军官证</option>
                              <option value="9">台胞证</option>
                            </select>
                          </div>
                          <label id="officerIdType_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人证件号码</label>
                          <div class="col-md-3">
                            <input type="text" name="officerId" class="form-control" required>
                          </div>
                          <label id="officerId_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人移动电话</label>
                          <div class="col-md-3">
                            <input type="isMobile" name="officerMobile" class="form-control" required>
                          </div>
                          <label id="officerMobile_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人固定电话</label>
                          <div class="col-md-3">
                            <input type="isPhone" name="officerTelephone" class="form-control" required>
                          </div>
                          <label id="officerTelephone_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>网络信息安全责任人Email</label>
                          <div class="col-md-3">
                            <input type="email" name="officerEmail" class="form-control" required>
                          </div>
                          <label id="officerEmail_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人姓名</label>
                          <div class="col-md-3">
                            <input type="text" name="ecName" class="form-control" required>
                          </div>
                          <label id="ecName_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人证件类型</label>
                          <div class="col-md-3">
                            <select class="form-control" name="ecIdType" required>
                              <option value>请选择</option>
                              <option value="2">身份证</option>
                              <option value="7">护照</option>
                              <option value="8">军官证</option>
                              <option value="9">台胞证</option>
                            </select>
                          </div>
                          <label id="ecIdType_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人证件号码</label>
                          <div class="col-md-3">
                            <input type="text" name="ecId" class="form-control" required>
                          </div>
                          <label id="ecId_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人移动电话</label>
                          <div class="col-md-3">
                            <input type="isMobile" name="ecMobile" class="form-control" required>
                          </div>
                          <label id="ecMobile_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人固定电话</label>
                          <div class="col-md-3">
                            <input type="isPhone" name="ecTelephone" class="form-control" required>
                          </div>
                          <label id="ecTelephone_error" class="control-label p-n error"></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                          <label class="col-md-2 control-label p-n"><span class="text-danger">*&nbsp;</span>应急联系人Email</label>
                          <div class="col-md-3">
                            <input type="email" name="ecEmail" class="form-control" required>
                          </div>
                          <label id="ecEmail_error" class="control-label p-n error"></label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group m-t clear">
                <div class="col-md-offset-2 col-md-3">
                  <button id="btnEdit" type="button" class="btn btn-primary save">预审</button>
                  <a id="btnCancelEdit" class="m-l-sm" data-dismiss="modal">取消</a> </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<!--审核结果-->
<!--<div class="modal inmodal fade modaladd" id="audit-results" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="wrapper wrapper-content hper100">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content no-borders">
            <label>
              <h4>审核结果</h4>
            </label>
            <div class="pull-right">
              <input type="hidden" id="jyzIdreport">
              <button type="button" class="btn btn-outline btn-info" id="resultExport"><i class="fa fa-download"></i> 导出</button>
              <a  download="核验结果.txt" id="createInvote"  style="display: none">code</a>
              <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回</button>
            </div>
            <table id="auditResultMsg" class="table table-hover table-bordered m-t-xs">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<!--审核结果-->
<div class="modal inmodal fade modaladd" id="audit_results" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="wrapper wrapper-content hper100">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content no-borders">
            <label id="chkResult">
              <h4>核验结果<span style="font-size: 12px">（注：请点击刷新查看最新处理进度）</span></h4>
            </label>
            <div class="pull-right">
              <input type="hidden" id="resultJyzId">
              <button type="button" id="refreshBtn" class="btn btn-outline btn-info" onclick="refreshResult()"><i class="fa fa-refresh"></i> 刷新</button>
              <!-- <button type="button" class="btn btn-outline btn-info" id="resultExport"><i class="fa fa-download"></i> 导出</button>
               <a  download="核验结果.txt" id="createInvote"  style="display: none">code</a>-->
              <button type="button" id="returnBtn" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回</button>
            </div>
          </div>
          <div class="vertical-container light-timeline" id="vertical-timeline">
          </div>
          <div class="vertical-container light-timeline" id="reportFile">
		  	<table  id="reportFileTable" data-mobile-responsive="true" class="text-left">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--导入-->
<!--<div class="modal inmodal fade modaladd" id="upload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="wrapper wrapper-content hper100">
    <div class="row">
      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content no-borders">
            <label>
            <h4>导入</h4>
            </label>
            <div class="pull-right">
              <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回</button>
            </div>
            <form class="form-horizontal" id="commentForm">
              <div class="form-group">
                <label class="col-md-1 control-label">操作</label>
                <div class="col-md-4">
                  <select class="form-control">
                    <option value="请选择">请选择</option>
                    <option value="全量">全量</option>
                    <option value="增量" selected="">增量</option>
                  </select>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-md-1 control-label">文件</label>
                <div class="col-md-4">
                  <input type="file" class="form-control" />
                </div>
                <div class="help-block m-b-n"> <a>下载模板</a> </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-md-1 control-label">上次进度</label>
                <div class="col-md-4">
                  <div class="progress m-b-n">
                    <div style="width: 48%;" class="progress-bar">48%</div>
                  </div>
                </div>
              </div>
              <div class="hr-line-dashed"></div>
              <div class="form-group">
                <label class="col-md-1 control-label">导入结果</label>
                <div class="col-md-4 help-block m-b-n"> 异常结果 </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div th:include="/common/import_snippet :: import"></div>

</body>
</html>