<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/header :: myheader"></head>
<body class="gray-bg">
<!-- 查询条件-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div th:if="${session.RPT_USER_QUERY}==1" class="text-right">
            <form id="indexSearch" class="form-inline">
                <div class="form-group m-r-sm" style="clear: both">
                    <label>单位名称</label>
                    <input type="text" class="form-control" id="sel_unitName" name="unitName"/>
                </div>
                <div class="form-group m-r-sm">
                    <label>用户属性</label>
                    <select class="form-control" id="sel_nature" name="nature">
                        <option value="">请选择</option>
                        <option value="1">提供互联网用户</option>
                        <option value="2">其他用户</option>
                    </select>
                </div>
                <div class="form-group m-r-sm">
                    <label>用户标识</label>
                    <select class="form-control" name="identify" id="sel_identify">
                        <option value="">请选择</option>
                        <option value="1">IDC用户</option>
                        <option value="2">ISP用户</option>
                        <option value="3">IDC/ISP用户</option>
                        <option value="3">CDN用户</option>
                        <option value="3">专线用户</option>
                    </select>
                </div>
                <div class="form-group m-r-sm">
                    <label>更新时间</label>
                    <input type="text" class="form-control" id="start" name="startDate">
                    <label>至</label>
                    <input type="text" class="form-control" id="end" name="endDate">
                </div>
                <div class="checkbox">
                    <button  class="btn btn-primary" type="button" id="userInfoIndexSearch">查询</button>
                    <button class="btn btn-outline btn-link" type="button" onClick="showsearch()">更多条件查询</button>
                </div>
            </form>
        </div>
    </div>
    <!-- 更多查询 -->
    <div class="row m-t m-r-none m-l onoffswitch-checkbox prompt-search">
        <div class="col-sm-12 p-trbl">
            <div class="text-left">
                <form class="form-inline" id="moreSearchForm">
                    <label>机房名称</label>
                    <div class="form-group m-r-sm">
                        <select class="form-control"  multiple="multiple" id="houseId">
                        </select>
                    </div>
                    <div class="form-group m-r-sm">
                        <label>网络负责人</label>
                        <input type="text" class="form-control" name="officerName" id="sel_officerName"/>
                    </div>
                    <div class="form-group m-r-sm">
                        <label>单位地址</label>
                        <input type="text" class="form-control" name="unitAddress" id="sel_unitAddress"/>
                    </div>
                    <div class="form-group m-r-sm">
                        <label>操作类型</label>
                        <select class="form-control" name="czlx" id="sel_czlx">
                            <option value="">请选择</option>
                            <option value="1">新增</option>
                            <option value="2">变更</option>
                            <option value="3">删除</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Example Toolbar -->
                            <div class="example-wrap text-right">
                                <div class="example">
                                    <input th:value="${session.RPT_USER_DETAIL}" type="hidden" id="r_userDetail">
                                    <div class="hidden-xs" id="commonButton2" role="group">
                                        <button th:if="${session.RPT_USER_EXPORT}==1" type="button" class="btn btn-outline btn-info m-l-xs" id="exportData"> <i class="fa fa-download"  aria-hidden="true"></i> 导出</button>
                                    </div>
                                    <table th:if="${session.RPT_USER_QUERY}==1" id="indexTable" data-mobile-responsive="true" class="text-left">
                                    </table>
                                </div>
                            </div>
                            <!-- End Example Toolbar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade modaladd" id="details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="wrapper wrapper-content hper100">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-content no-borders">
                        <div class="pull-right m-b-xs">
                            <input type="hidden" id="detailUserId"/>
                            <input type="hidden" id="detailIdType"/>
                            <input type="hidden" id="detailIdNumber"/>
                            <input type="hidden" id="detailUserName"/>
                            <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-reply-all"></i> 返回上一级</button>
                        </div>
                        <div class="ibox border m-b-sm">
                            <div class="ibox-title no-borders">
                                <h5>主体信息</h5>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">用户属性：</label>
                                                <div class="col-md-9 control-label text-left " ><spand id="nature_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n" >单位名称：</label>
                                                <div class="col-md-9 control-label text-left "><spand id="unitName_dt"></spand> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">单位属性：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="unitNature_dt"></spand> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">证件类型：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="idType_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n"> 证件号码：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="idNumber_dt"></spand> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">注册日期：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="registeTime_dt"></spand> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">邮政编码：</label>
                                                <div class="col-md-9 control-label text-left "><spand id="unitZipCode_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n ">单位地址：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="unitAddress_dt"></spand> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">联系人：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="officerName_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">联系人证件：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="officerIdType_dt"></spand> </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">证件号码：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="officerId_dt"></spand> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">联系人固话：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="officerTelphone_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">联系人手机：</label>
                                                <div class="col-md-9 control-label text-left "><spand id="officerMobile_dt"></spand></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">联系邮箱：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="officerEmail_dt"></spand> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-margins">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label p-n">服务开通时间：</label>
                                                <div class="col-md-9 control-label text-left "> <spand id="serviceRegTime_dt"></spand></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="tabs-container">
                                    <ul class="nav nav-tabs" id="tabHead">
                                        <li class="active"> <a data-toggle="tab" href="#tab1">用户服务信息</a> </li>
                                        <li> <a data-toggle="tab" href="#tab2">用户网络资源</a> </li>
                                        <li> <a data-toggle="tab" href="#tab3">用户IP信息</a> </li>
                                        <li> <a data-toggle="tab" href="#tab4">虚拟主机信息</a> </li>
                                    </ul>
                                    <div class="tab-content ">
                                        <div id="tab1" class="tab-pane active">
                                            <!-- Example Toolbar -->
                                            <div class="example-wrap text-right">
                                                <table id="serviceTableDetial" data-mobile-responsive="true" class="text-left"></table>
                                            </div>
                                            <!-- End Example Toolbar -->
                                        </div>
                                        <div id="tab2" class="tab-pane">
                                            <div class="example-wrap text-right">
                                                <table id="bandWidthTableDetail" data-mobile-responsive="true" class="text-left">
                                                </table>
                                            </div>
                                        </div>
                                        <div id="tab3" class="tab-pane">
                                            <div class="example-wrap text-right">
                                                <table id="ipTableDetail" data-mobile-responsive="true" class="text-left">
                                                </table>
                                            </div>
                                        </div>
                                        <div id="tab4" class="tab-pane">
                                            <div class="example-wrap text-right">
                                                <table id="virtualTableDetail" data-mobile-responsive="true" class="text-left">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--javascript加载 -->
<div th:include="/common/footer :: myfooter"></div>
<script th:src="@{{path}/static/js/rptUser/user_info.js(path=${contextPath})}"></script>
<script th:src="@{{path}/static/js/common/table_hover.js(path=${contextPath})}"></script>
</body>
</html>