<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="/common/header :: myheader" th:with="title=''"></head>
<body class="gray-bg">
<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <img class="img-responsive center-block" th:src="@{/static/img/temp_01.png}" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>
