<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>基础数据智能管理系统-隶属单位管理</title>

<!--<link rel="shortcut icon" href="favicon.ico">-->
<link
	th:href="@{{path}/static/css/plugins/select2/select2.min.css(path=${contextPath})}"
	rel="stylesheet" />
<link
	th:href="@{{path}/static/css/bootstrap.min.css(path=${contextPath})}"
	rel="stylesheet" />

<div th:include="/common/header :: myheader"></div>
<div th:include="/common/footer :: myfooter"></div>
<script
	th:src="@{{path}/static/js/system/subCity.js(path=${contextPath})}"></script>
<script
	th:src="@{{path}/static/js/common/isms-component-richselect.js(path=${contextPath})}"></script>
</head>
<body class="gray-bg" style="background-color: #f3f3f4;">

	<!-- 查询条件-->
	<div class="row wrapper border-bottom white-bg page-heading">
		<div class="col-sm-12">
			<div th:if="${session.ROLE_PRE_HOUSE_FRAME_QUERY}" class="text-right">
				<form id="indexSearch" class="form-inline">
					<div class="col-sm-12">
						<div class="form-group m-r-sm">
							<label>隶属单位名称</label> <input type="text" class="form-control"
								name="areaName" id="sel_areaName" />
							<!-- <select id="ser_house" multiple="multiple" class="form-control" name="houseId"> -->
							</select>
						</div>
						<div class="form-group m-r-sm">
							<label>单位编码</label> <input type="text" class="form-control"
								name="areaCode" id="sel_areaCode" />
						</div>
						<div class="checkbox">
							<button class="btn btn-primary" type="button"
								id="houseIndexSearch">查询</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox ">
					<div class="ibox-content">
						<div class="row">
							<div class="col-sm-12">
								<div class="example-wrap text-right">
									<div class="example">
										<div class="hidden-xs" id="commonButton" role="group">
											<button th:if="${session.ROLE_SUBUNIT_ADD}" type="button"
												id="addButton" class="btn btn-outline btn-info m-l-xs"
												data-toggle="modal" data-target="#myModaladd">
												<i class="fa fa-plus" aria-hidden="true"></i> 新增
											</button>
											<button th:if="${session.ROLE_SUBUNIT_BATCH_DEL}"
												type="button" class="btn btn-outline btn-info" id="allDelte"
												data-toggle="modal" data-target="#delete">
												<i class="fa fa-delete" aria-hidden="true"></i> 批量删除
											</button>
											<input th:value="${session.ROLE_SUBUNIT_UPDATE}"
												type="hidden" id="updateRole"> <input
												th:value="${session.ROLE_SUBUNIT_DEL}" type="hidden"
												id="delRole">

										</div>
										<div>
											<table th:if="${session.ROLE_SUBUNIT_QUERY}"
												id="subCityTable" data-mobile-responsive="true"
												class="text-left">

											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<!--新增-->
	<div class="modal inmodal fade modaladd" id="myModaladd" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="wrapper wrapper-content hper100">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<div class="ibox-content no-borders">
							<label>
								<h4>新增信息</h4>
							</label>
							<div class="ibox border m-b-sm">
								<div class="ibox-title no-borders">
									<h5>
										<a class="addTitle" id="addFormTitle"><i
											class="fa fa-plus m-r-xs"></i>新增</a>
									</h5>
								</div>
								<div class="ibox-content">

									<div class="form-horizontal">
										<div class="row">
											<div class="col-sm-12">
												<form id="addForm0">
													<div class="form-group">
														<label class="col-md-2 control-label p-n"><span
															class="text-danger">*&nbsp;</span>隶属单位名称</label>
														<div class="col-md-3">
															<input type="text" name="areaName" class="form-control" >
														</div>
														<label id="areaName_error" class="control-label p-n error"></label>
													</div>
													<div class="hr-line-dashed"></div>
													<div class="form-group">
														<label class="col-md-2 control-label p-n"><span
															class="text-danger">*&nbsp;</span>单位编码</label>
														<div class="col-md-3">
															<input type="text" name="areaCode" class="form-control" >
														</div>
														<label id="areaCode_error" class="control-label p-n error"></label>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="bottomDIv"></div>
						</div>
						<div class="form-group m-t clear">
							<div class="col-md-offset-2 col-md-3">
								<button id="btnAdd" type="button" class="btn btn-primary save">提交</button>
								<a id="btnCancel" class="m-l-sm" data-dismiss="modal">取消</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	</div>


	<!--修改-->
	<div class="modal inmodal fade modaladd" id="myModaledit" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="wrapper wrapper-content hper100">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<form id="editForm">
							<div class="ibox-content no-borders">
								<label>
									<h4>修改信息</h4>
								</label>
								<div class="ibox border m-b-sm">
									<div class="ibox-content">

										<div class="form-horizontal">
											<div class="row">
												<div class="col-sm-12">
													<input type="hidden" name="preCode">
													<div class="form-group">
														<label class="col-md-2 control-label p-n"><span
															class="text-danger">*&nbsp;</span>隶属单位名称</label>
														<div class="col-md-3">
															<input type="text" name="areaName" class="form-control" >
														</div>
														<label id="areaName_error" class="control-label p-n error"></label>
													</div>
													<div class="hr-line-dashed"></div>
													<div class="form-group">
														<label class="col-md-2 control-label p-n"><span
															class="text-danger">*&nbsp;</span>单位编码</label>
														<div class="col-md-3">
															<input type="text" name="areaCode" class="form-control" >
														</div>
														<label id="areaCode_error" class="control-label p-n error"></label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group m-t clear">
									<div class="col-md-offset-2 col-md-3">
										<button id="btnEdit" type="button"
											class="btn btn-primary save">确认</button>
										<a id="btnCancelEdit" class="m-l-sm" data-dismiss="modal">取消</a>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!--导入-->
	<div class="modal inmodal fade modaladd" id="upload" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="wrapper wrapper-content hper100">
			<div class="row">
				<div class="col-md-12">
					<div class="ibox">
						<div class="ibox-content no-borders">
							<label>
								<h4>导入</h4>
							</label>
							<div class="pull-right">
								<button type="button" class="btn btn-success"
									data-dismiss="modal">
									<i class="fa fa-reply-all"></i> 返回
								</button>
							</div>
							<form class="form-horizontal" id="commentForm">
								<div class="form-group">
									<label class="col-md-1 control-label">操作</label>
									<div class="col-md-4">
										<select class="form-control">
											<option value="请选择">请选择</option>
											<option value="全量">全量</option>
											<option value="增量" selected="">增量</option>
										</select>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-md-1 control-label">文件</label>
									<div class="col-md-4">
										<input type="file" class="form-control" />
									</div>
									<div class="help-block m-b-n">
										<a>下载模板</a>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-md-1 control-label">上次进度</label>
									<div class="col-md-4">
										<div class="progress m-b-n">
											<div style="width: 48%;" class="progress-bar">48%</div>
										</div>
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-md-1 control-label">导入结果</label>
									<div class="col-md-4 help-block m-b-n">异常结果</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





</body>
</html>